*{
    margin: 0%;
    padding: 0%;
}

/* corpo */

:root{
    --corPrimaria: #cd426a; /*headers, footers */
    --PopUp:#f8a1ad; /*login e cadastro */
    --btnPopup: #e36576; /*botao do popup*/
    --bordaBtnPopUp:#b22222; /*borda botao do popup*/
    --white: #ffff; /*branco */
    --marfin: #fffff0; /*marfin */
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../imgs/library.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
}

h2{
    color: var(--marfin);
}

#createAccount {
    background-color: var(--PopUp);
    width: 500px;
    height: 550px;
    border-radius: 10px;
    text-align: center;
}

/* botão */
#btnCadastro{
    padding: 10px 50px;
    background-color: var(--btnPopup);
    color: var(--white);
    border: none;
    border: 2px solid var(--bordaBtnPopUp) ;
    border-radius: 10px;
    margin: 20px ;
    font-size: 16px;
}

#btnCadastro:hover {
    background-color: var(--bordaBtnPopUp);
    border: 2px solid var(--btnPopup); ;
    cursor: pointer;
}

/* inputs */
#nome, #dtNasc, #cpf, #telefone, #email, #senha {
    padding: 0px 50px;
    text-align: center;
    margin: 10px;
}

/* titulo */
h2 {
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--white);
}

a:hover{
    color: var(--corPrimaria);
}
