*{
    margin: 0%;
    padding: 0%;
}

/* fontes */
@font-face {
    font-family: "Main";
    src: url(Thasadith/Thasadith-Regular.ttf);
}

/* títulos */
@font-face {
    font-family: "Title";
    src: url(Poller_One/PollerOne-Regular.ttf);
}

:root{
    --corPrimaria: #cd426a; /*headers, footers */
    --PopUp:#f8a1ad; /*login e cadastro */
    --btnPopup: #e36576; /*botao do popup*/
    --bordaBtnPopUp:#b22222; /*borda botao do popup*/
    --white: #ffff; /*branco */
    --marfin: #fffff0; /*marfin */
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../imgs/livrosempilhados.jpg);
    background-size: cover;
    background-position: center;
}

h2{
    color: var(--marfin);
}
#login {
    width: 500px;
    height: 330px;
    background-color: var(--PopUp);
    border-radius: 10px;
    text-align: center;
    color: var(--white);
}
/* botão de login */
#btnLogin {
    padding: 10px 50px;
    background-color:var(--btnPopup);
    color: var(--white);
    border: none;
    border: 2px solid var(--bordaBtnPopUp) ;
    border-radius: 10px;
    margin: 20px ;
    font-size: 16px;
}

#btnLogin:hover {
    background-color: var(--bordaBtnPopUp) ;
    border: 2px solid var(--btnPopup) ;
    cursor: pointer;
}

/* campo email e senha */
#email, #senha {
    padding: 0px 50px;
    text-align: center;
    margin: 10px;
}
label {
    font-family: "Main";
    font-size: 16px;
}

/* entrar */
h2{
    font-family: "Title";
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--white);
}

a:hover{
    color: var(--corPrimaria);
}